.search {
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 0;
    width: auto;
}
.search input {
    width: 200px;
    height: 42px;
    padding-left: 15px;
    padding-right: 50px;
    border-radius: 42px;
    background: var(--main-search-bg-color);
    outline: none;
    color: var(--main-search-color);
    border: none;
    transition: .3s linear;
    margin-right: -40px;
}
.search input:focus {
    width: 250px;
}
.search button {
    width: 62px;
    height: 45px;
    background: var(--main-search-button-bg-color);
    border: none;
    border-radius: 42px;
}
.search button:before {
    color: var(--main-search-button-color);
}
.search button:active {
    background-color: var(--main-search-button-active-bg-color) !important;
    transition: background-color 100ms;
}
